:root {
  --blue: steelblue;
  --white: #fff;
  --grigio: #dddddd;
  --grigioScuro: #bbbbbb;
  --giallo: #ffd900;
  --grigioMoltoScuro: #3d3d3d;
  --verdeMain10ance: #a8c956;
  --bluInterreg: #1a4f9c;
  --blackOlive: #36382e;
  --ghostWhite: #f8f8ff;
  --lightGray: #d3d4d9;
  --verdeMain10anceTrasparenza: #a8c95660;
  --verdeMain10anceTrasparenza2: #a8c95630;
  --verdeMain10anceTrasparenza3: #a8c95615;
  --bluInterregTrasparenza: #1a4f9c60;
  --bluInterregTrasparenza2: #1a4e9c30;
  --bluInterregTrasparenza3: #1a4e9c15;
}

/* * {
  border-color: red !important;
  border-style: solid !important;
  border-width: 0.2px !important;
} */

html, body {
  min-height: 100%;
  height: 100%;
}

.fill {
  height: calc(100vh - 100px);
}

body {
  padding-top: 70px; /* space for the top nav bar */
  margin-right: 0px;
  background-color: var(--lightGray);
}

/* CARICAMENTO */
/* #loading {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
}

#loading-image {
  position: absolute;
  top: 100px;
  left: 240px;
  z-index: 100;
} */

/* NAVBAR */

.navbar, .nav {
  background-color: var(--blackOlive);
  /* border: none; */
}

#logoSito {
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 15px;
  background-color: var(--lightGray);
  box-shadow: 0 0 0 5px var(--lightGray);
}

#logoSito:hover {
  background-color: var(--grigioScuro);
  box-shadow: 0 0 0 5px var(--grigioScuro);
}

.navBtn {
  margin-top: 12.5px;
}

#scegliModello {
  margin-left: 60px;
}

#scegliGIS {
  margin-left: 50px;
}

/* SUMMARY */

.sommario-main10ance {
  display: revert;
  cursor: pointer;
}

/* VIEWER */

#forgeViewer {
  width: 100%;
}

/* DB */
#pannello-db, #pannello-lat-gis, #pannello-lat-db, #pannello-lat-schede {
  padding-left: 15px;
  padding-right: 0px;
  /* border: none; */
  /* overflow: auto; */
}

#pannello-db-child, #pannello-lat-gis-child {
  overflow: auto;
}

#pannello-db-header, #pannello-lat-gis-header, #pannello-lat-db-header, #pannello-lat-schede-header {
  color: var(--verdeMain10ance);
  background-color: var(--blackOlive);
}

.selettoreSM-dropdown {
  cursor: pointer;
  /* position: initial; */
  position: relative;
  /* width: 200px; */
  width: 100%;
  height: 40px;
  border: none;
  margin: 2px;
  background-color: var(--verdeMain10ance);
  color: var(--grigioMoltoScuro);
  font-weight: bold;
}

.selettoreSM-dropdown:hover {
  background-color: var(--verdeMain10anceTrasparenza);
}

.scheda-con-int, #apriTabControllo, #apriTabIntervento, #chiudiSchede, #salvaSchedaControllo, #salvaSchedaIntervento {
  display: none;
}

#scheda-controllo {
  background-color: var(--verdeMain10anceTrasparenza);
  font-size: 13px;
  padding: 30px 14px;
}

#scheda-intervento {
  background-color: var(--bluInterregTrasparenza);
  font-size: 13px;
  padding: 30px 14px;
}

/* .selettoreSM-dropdown:hover {
  background-color: #ccc;
} */

/* .dropdown-menu {
  position: relative;
} */

/* .menu-sm {
  position: unset;
} */

#contenitore-selettore {
  display: unset;
}

#contenitore-selettori-2 {
  position: relative;
  /* z-index: 100; */
}

/* BUTTONS */

.dbBtn {
  margin-top: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

#modificaDB, #queryDB, #annullaDB, #scegliModello, #scegliGIS, #refreshParams, #aggiungiDB, #cercaID {
  cursor: pointer;
  /* outline: none; */
  border: none;
  font-size: inherit;
  font-weight: bold;
  background: var(--verdeMain10ance);
  color: var(--ghostWhite);
  padding: .75rem 1.75rem;
  margin-bottom: 1rem;
}

#salvaSchedaIntervento {
  cursor: pointer;
  /* outline: none; */
  border: none;
  font-size: inherit;
  font-weight: bold;
  background: var(--bluInterreg);
  color: var(--ghostWhite);
  padding: .75rem 1.75rem;
  margin-bottom: 1rem;
}

#salvaSchedaControllo {
  cursor: pointer;
  /* outline: none; */
  border: none;
  font-size: inherit;
  font-weight: bold;
  background: var(--verdeMain10ance);
  color: var(--ghostWhite);
  padding: .75rem 1.75rem;
  margin-bottom: 1rem;
}

#chiudiSchede {
  cursor: pointer;
  /* outline: none; */
  border: none;
  font-size: inherit;
  font-weight: bold;
  background: var(--blackOlive);
  color: var(--ghostWhite);
  padding: .75rem 1.75rem;
  margin-bottom: 1rem;
}

#refreshParams, #modificaDB, #queryDB, #annullaDB, #aggiungiDB, #chiudiSchede, #salvaSchedaControllo, #salvaSchedaIntervento, #cercaID {
  padding: .9rem 1rem;
  font-size: large;
  font-weight: initial;
}

.scheda, #apriPDF {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  color: var(--ghostWhite);
  /* background-color: var(--bluInterreg); */
  background-color: var(--blackOlive);
  font-weight: bold;
  border: none;
}

.scheda.active {
  background-color: var(--bluInterregTrasparenza);
}

.scheda:hover {
  background-color: #aaa;
}

.scheda-controllo {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  color: var(--ghostWhite);
  background-color: var(--verdeMain10ance);
  font-weight: bold;
  border: none;
}

.scheda-controllo.active {
  background-color: var(--verdeMain10anceTrasparenza);
}

.scheda-controllo:hover {
  background-color: #aaa;
}

.scheda-intervento {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  color: var(--ghostWhite);
  background-color: var(--bluInterreg);
  font-weight: bold;
  border: none;
}

.scheda-intervento.active {
  background-color: var(--bluInterregTrasparenza);
}

.scheda-intervento:hover {
  background-color: #aaa;
}

/* #input-id, #input-comment, #input-id-svuota {
  font-size: 20px;
} */

.pannelloDB {
  padding: 10px;
  /* overflow: auto; */
}

input[id^="form-"] {
  float: right;
  line-height: 80%
}

input[id^="scheda-controllo-"], select[id^="scheda-controllo-"], textarea[id^="scheda-controllo-"], #scelta-intervento, input[id^="scheda-intervento-"], select[id^="scheda-intervento-"], textarea[id^="scheda-intervento-"] {
  float: right;
  line-height: 100%;
  padding: 1px;
  border: 0;
}

div[id^="div-form-"] {
  float: right;
  /* line-height: 80% */
}

#labelCerca {
  padding-right: 10px;
}

#formDB {
  line-height: 150%;
}

/* MODALS */

#appBuckets {
  /* overflow: auto; */
  width: 100%;
  /* height: calc(100vh - 150px); */
  /* height: 150px; */
  height: 100%;
}

#appGIS {
  /* height: 600px; */
  /* height: calc(80vh - 10px); */
  /* height: 80vh; */
  height: 100%;
}

#scegliGISModal {
  overflow: auto;
}

.modal-content, .modal-header, .modal-body, .modal-footer, .panel, .panel-heading, #pannello-modal-header {
  background-color: var(--grigio);
}

/* MAPPA */
#mappa {
  /* height: 180px; */
  height: inherit;
  /* position: fixed; */
  position: static;
  /* z-index: 1; */
}

#legendaLayer {
  position: static;
  z-index: 1000;
}

/* STILI PER TABS */
[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.tab {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  color: var(--ghostWhite);
  background-color: var(--verdeMain10ance);
  font-weight: bold;
  border: none;
}

.tab.active {
  background-color: #ccc;
}

.tab:hover {
  background-color: #aaa;
}

#liUsernameNavbar {
  padding: 10px;
  margin: 10px;
  color: var(--verdeMain10ance);
  font-weight: bold;
  border: none;
  display: none;
}

/* INTERFACCIA DATABASE */
/* #filtroDB {
  column-count: 3;
}

.colonnaDB {
  margin-top: 10px;
  margin-bottom: 10px;
} */

#tabDatabase {
  padding: 10px;
}

/* TABELLA DB */

table {
  border-collapse: collapse;
  width: 100%;
  padding: 10px;
  overflow: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  max-width: 200px;
}

td {
  word-break: break-all;
}

th {
  background-color: #b6b4b4;
} 

tr:nth-child(even) {
  background-color: #cacaca;
}

/* tr:nth-child(odd) {
  background-color: #b6b6b6;
} */

#risultatiDB {
  overflow: auto;
  padding: 10px;
  width: 100%;
  height: 80%;
}

/* TABELLE SCHEDE CONTROLLO-INTERVENTO */

#contenitore-schede {
  height: 90%;
  overflow: auto;
}

.caption-schede {
  color: var(--bluInterreg);
}

.caption-schede:hover {
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
}

/* .caption-schede-c {
  color: var(--verdeMain10ance);
}

.caption-schede-mr-mc-r {
  color: var(--bluInterreg);
} */

.td-schede-mr-mc-r {
  border: none;
  background-color: var(--bluInterregTrasparenza2);
  max-width: 500px;
}

.tr-schede-mr-mc-r:nth-child(even) {
  background-color: var(--bluInterregTrasparenza3);
}

/* .tr-schede:nth-child(odd) {
  background-color: var(--bluInterregTrasparenza3);
} */

.td-schede-c {
  border: none;
  background-color: var(--verdeMain10anceTrasparenza);
  max-width: 500px;
}

.tr-schede-c:nth-child(even) {
  background-color: var(--verdeMain10anceTrasparenza2);
}

.vedi-schede {
  background-color: var(--verdeMain10ance);
  color: var(--grigioMoltoScuro);
  border: none;
  font-weight: bold;
}

.vedi-schede:hover {
  background-color: var(--verdeMain10anceTrasparenza);
}

.vedi-schede-disatt {
  background-color: var(--grigioScuro);
  color: var(--grigioMoltoScuro);
  border: none;
  font-weight: bold;
}

#pannello-lat-schede-inner {
  overflow: auto;
}

#contenitoreLoginSignup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.auth-div {
  background-color: var(--grigioScuro);
  padding: 10px;
}

#messaggio-errore {
  display: flex;
  justify-content: center;
}

#login-a, #signup-a {
  cursor: pointer;
}
