:root {
  --blue: steelblue;
  --white: #fff;
  --grigio: #dddddd;
  --grigioScuro: #bbbbbb;
  --giallo: #ffd900;
  --grigioMoltoScuro: #3d3d3d;
  --verdeMain10ance: #a8c956;
  --bluInterreg: #1a4f9c;
  --blackOlive: #36382e;
  --ghostWhite: #f8f8ff;
  --lightGray: #d3d4d9;
  --verdeMain10anceTrasparenza: #a8c95660;
  --bluInterregTrasparenza: #1a4f9c60;
}

/* * {
  border-color: red !important;
  border-style: solid !important;
  border-width: 0.2px !important;
} */

html, body {
  min-height: 100%;
  height: 100%;
}

.fill {
  height: calc(100vh - 100px);
}

body {
  padding-top: 70px; /* space for the top nav bar */
  margin-right: 0px;
  background-color: var(--lightGray);
}

/* CARICAMENTO */
/* #loading {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
}

#loading-image {
  position: absolute;
  top: 100px;
  left: 240px;
  z-index: 100;
} */

/* NAVBAR */

.navbar, .nav {
  background-color: var(--blackOlive);
  /* border: none; */
}

#logoSito {
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 15px;
  background-color: var(--lightGray);
  box-shadow: 0 0 0 5px var(--lightGray);
}

#logoSito:hover {
  background-color: var(--grigioScuro);
  box-shadow: 0 0 0 5px var(--grigioScuro);
}

.navBtn {
  margin-top: 12.5px;
}

#scegliModello {
  margin-left: 60px;
}

#scegliGIS {
  margin-left: 50px;
}

/* SUMMARY */

.sommario-main10ance {
  display: revert;
  cursor: pointer;
}

/* VIEWER */

#forgeViewer {
  width: 100%;
}

/* DB */
#pannello-db, #pannello-lat-gis {
  padding-left: 15px;
  padding-right: 0px;
  /* border: none; */
  /* overflow: auto; */
}

#pannello-db-child, #pannello-lat-gis-child {
  overflow: auto;
}

#pannello-db-header, #pannello-lat-gis-header {
  color: var(--verdeMain10ance);
  background-color: var(--blackOlive);
}

.selettoreSM-dropdown {
  cursor: pointer;
  /* position: initial; */
  position: relative;
}

.scheda-con-man, #apriTabControllo, #apriTabManutenzione, #chiudiSchede, #salvaSchedaControllo, #salvaSchedaManutenzione {
  display: none;
}

#scheda-controllo {
  background-color: var(--verdeMain10anceTrasparenza);
  font-size: 13px;
}

#scheda-manutenzione {
  background-color: var(--bluInterregTrasparenza);
  font-size: 13px;
}

/* .selettoreSM-dropdown:hover {
  background-color: #ccc;
} */

/* .dropdown-menu {
  position: relative;
} */

/* .menu-sm {
  position: unset;
} */

#contenitore-selettore {
  display: unset;
}

#contenitore-selettori-2 {
  position: relative;
  /* z-index: 100; */
}

/* BUTTONS */

.dbBtn {
  margin-top: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

#modificaDB, #queryDB, #annullaDB, #scegliModello, #scegliGIS, #refreshParams, #aggiungiDB, #chiudiSchede, #salvaSchedaControllo {
  cursor: pointer;
  /* outline: none; */
  border: none;
  font-size: inherit;
  font-weight: bold;
  background: var(--verdeMain10ance);
  color: var(--ghostWhite);
  padding: .75rem 1.75rem;
  margin-bottom: 1rem;
}

#salvaSchedaManutenzione {
  cursor: pointer;
  /* outline: none; */
  border: none;
  font-size: inherit;
  font-weight: bold;
  background: var(--bluInterreg);
  color: var(--ghostWhite);
  padding: .75rem 1.75rem;
  margin-bottom: 1rem;
}

#refreshParams, #modificaDB, #queryDB, #annullaDB, #aggiungiDB, #chiudiSchede, #salvaSchedaControllo, #salvaSchedaManutenzione {
  padding: .9rem 1rem;
  font-size: large;
  font-weight: initial;
}

/* #input-id, #input-comment, #input-id-svuota {
  font-size: 20px;
} */

.pannelloDB {
  padding: 10px;
  /* overflow: auto; */
}

input[id^="form-"] {
  float: right;
  line-height: 80%
}

input[id^="scheda-controllo-"], select[id^="scheda-controllo-"], textarea[id^="scheda-controllo-"] {
  float: right;
  line-height: 100%;
  padding: 1px;
  border: 0;
}

div[id^="div-form-"] {
  float: right;
  line-height: 80%
}

#formDB {
  line-height: 150%;
}

/* MODALS */

#appBuckets {
  overflow: auto;
  width: 100%;
  /* height: calc(100vh - 150px); */
  height: 150px;
}

#appGIS {
  /* height: 600px; */
  /* height: calc(80vh - 10px); */
  height: 80vh;
}

#scegliGISModal {
  overflow: auto;
}

/* .modal-dialog {
  max-width: 900px;
  width: 100%;
  max-height: 850px;
  height: 100%;
  display: flex;
  justify-content: center;
} */

.modal-content, .modal-header, .modal-body, .modal-footer, .panel, .panel-heading, #pannello-modal-header {
  background-color: var(--grigio);
}

/* .modal-title {
  font-weight: 700;
} */

/* .modal-body {
  background-color: var(--grigio);
} */

/* .modal-footer {
  align-self: flex-end;
} */

/* #modal-content-GIS {
  height: 100%;
  width: 100%;
} */

/* #modal-content-cappelle {
  height: 50%;
  width: 70%;
} */

/* MAPPA */
#mappa {
  /* height: 180px; */
  height: inherit;
  /* position: fixed; */
  position: static;
  /* z-index: 1; */
}

#legendaLayer {
  position: static;
  z-index: 1000;
}

/* STILI PER TABS */
[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.tab {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  color: var(--ghostWhite);
  background-color: var(--verdeMain10ance);
  font-weight: bold;
  border: none;
}

.tab.active {
  background-color: #ccc;
}

.tab:hover {
  background-color: #aaa;
}

/* INTERFACCIA DATABASE */
/* #filtroDB {
  column-count: 3;
}

.colonnaDB {
  margin-top: 10px;
  margin-bottom: 10px;
} */

#tabDatabase {
  padding: 10px;
}

/* TABELLA DB */

table {
  /* font-family: arial, sans-serif; */
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #b6b4b4;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
