/* ELIMINARE DI VOLTA IN VOLTA DA QUESTO FILE GLI STILI USATI SUI COMPONENT, COME FORMA DI CONTROLLO */

#scheda-anagrafica {
  background-color: var(--gialloInterventoTrasparenza);
  font-size: 13px;
  padding: 30px 14px;
}

#scheda-controllo {
  background-color: var(--verdeMain10anceTrasparenza);
  font-size: 13px;
  padding: 30px 14px;
}

#scheda-intervento {
  background-color: var(--bluInterregTrasparenza);
  font-size: 13px;
  padding: 30px 14px;
}

.scheda {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  color: var(--ghostWhite);
  background-color: var(--blackOlive);
  font-weight: bold;
  border: none;
}

.scheda.active {
  background-color: var(--bluInterregTrasparenza);
}

.scheda:hover {
  background-color: #aaa;
}

input[id^="scheda-controllo-"],
select[id^="scheda-controllo-"],
textarea[id^="scheda-controllo-"],
#scelta-intervento,
input[id^="scheda-intervento-"],
select[id^="scheda-intervento-"],
textarea[id^="scheda-intervento-"] {
  float: right;
  line-height: 100%;
  padding: 1px;
  border: 0;
}

/* TABELLE SCHEDE CONTROLLO-INTERVENTO */

.td-schede-mr-mc-r {
  border: none;
  background-color: var(--bluInterregTrasparenza2);
  max-width: 500px;
}

.tr-schede-mr-mc-r:nth-child(even) {
  background-color: var(--bluInterregTrasparenza3);
}

#pannello-lat-schede-inner {
  overflow: auto;
}

/* DASHBOARD */
/* ----- Progress ----- */

.au-progress .au-progress__bar {
  height: 10px;
  position: relative;
  background: #d9d9d9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.au-progress .au-progress__bar .au-progress__inner {
  position: absolute;
  width: 0;
  top: 0;
  left: 0;
  bottom: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  background-color: orange;
  overflow: visible;
}

.au-progress__title {
  font-size: 14px;
  color: #808080;
  display: inline-block;
  margin-bottom: 9px;
}

.au-progress__value {
  font-size: 14px;
  color: #808080;
  position: absolute;
  top: -28px;
  right: -15px;
}

/* ----- Speedometer ----- */

.flex {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.text {
  position: absolute;
  text-align: center;
}

.circle {
  width: 200px;
  height: 200px;
}

.points {
  width: 3px;
  height: 15px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  transform: rotate(calc(var(--i)*var(--r))) translateY(-80px);
  border-radius: 3px;
}

.animated {
  animation: glow .01s linear forwards;
  animation-delay: calc(var(--i)*0.05s);
}

@keyframes glow {
  100%{
    background: var(--col);
    box-shadow: 0 0 20px var(--col);
  }
}
